<% provide(:title, 'Links') %>
</br>
<h2>Help</h2>

<h3>Sheet music:</h3>
<p>
Due to copyright laws, all students need to purchase their own music. I recommend these sites for inexpensive sheet music, where you can purchase a wide variety of song books and single pieces of music can be bought in shop and downloaded.
</p>
<p>
<%= link_to 'Sheet Music Direct' , 'http://www.sheetmusicdirect.com' %>
</p>
<p>
<%= link_to 'Ackerman Music' , 'http://www.ackermanmusic.co.uk' %>
</p>
<p>
(please note Ackermann also have a music store based in Chichester)
</p>
<br />
<h3>Organisations:</h3>

<p>
I am a full member of the Incorporated Society of Musicians:
</p>
<p>
<%= link_to 'ISM', 'http://www.ism.org' %>
</p>
<p>
I am proud to also be a member of Sound Sense, which promotes music in the community. To find out more about the work, please visit the website:
</p>
<p>
<% link_to 'Sound Sense', 'http://www.soundsense.org/metadot/index.pl?id=23786&isa=Category&op=show' %>
</p>


<h3>Inspiring projects:</h3>


<p>
	<%= link_to 'help musicians', 'http://www.helpmusicians.org.uk' %>
</p>
<p>
<%= link_to 'bmat', 'http://www.bamt.org' %>
</p>
<p>
<%= link_to 'lifemusicmethod', 'http://lifemusicmethod.blogspot.co.uk/p/welcome-to-lifemusic.html' %>
</p>
<p>
<%= link_to 'theradiantvoice' , 'http://www.theradiantvoice.com' %>
</p>
