<% provide(:title, 'Links') %>
</br>
<h2>Useful Links</h2>

<div class="row-fluid">
	<div class="span12 pagination-centered">	
		<%= image_tag 'cup_200.jpg', alt: 'Cup', class: 'img-rounded' %>
	</div>
</div>
<br />
<h3>Sheet music:</h3>
<p>
Due to copyright laws, all students need to purchase their own music. I recommend these sites for inexpensive sheet music, where you can purchase a wide variety of song books. Single pieces of music can be bought in shop or downloaded.
</p>
<p>
	<%= link_to 'Sheet Music Direct' , 'http://www.sheetmusicdirect.com', :target => "_blank" %>
</p>
<p>
	<%= link_to 'Music Room' , 'http://www.musicroom.com/', :target => "_blank" %>
</p>
<p>
	<%= link_to 'Ackerman Music' , 'http://www.ackermanmusic.co.uk', :target => "_blank" %>
</p>

(please note Ackerman also have a music store based in Chichester)

<br />
<br />
<h3>Organisations:</h3>

<p>
	I am a full member of the Musicians Union and Incorporated Society of Musicians:
</p>
<p>
	<%= link_to 'Musicians Union', 
			'http://www.musiciansunion.org.uk/', 
					:target => "_blank" %>
</p>
<p>
	<%= link_to 'Incorporated Society of Musicians', 
			'http://www.ism.org', 
					:target => "_blank" %>
</p>
<p>
	I am proud to also be a member of Sound Sense, which promotes music in the community. To find out more about the work, please visit the website:
</p>
<p>
	<%= link_to 'Sound Sense', 
			'http://www.soundsense.org/metadot/index.pl?id=23786&isa=Category&op=show', 
				:target => "_blank" %>
</p>

<br />
<h3>Inspiring projects:</h3>


<p>
	<%= link_to 'Musicians Benevolent Fund', 'http://www.helpmusicians.org.uk', :target => "_blank" %>
</p>
<p>
	<%= link_to 'British Association for Music Therapy', 
			'http://www.bamt.org', 
					:target => "_blank" %>
</p>
<p>
	<%= link_to 'Lifemusic Method', 
			'http://lifemusicmethod.blogspot.co.uk/p/welcome-to-lifemusic.html', 
					:target => "_blank" %>
</p>
<p>
	<%= link_to 'The Radiant Voice' , 'http://www.theradiantvoice.com', :target => "_blank" %>
</p>
