<%= form_for inquiry do |f| %>
  <% if inquiry.errors.any? %>
    <ul>
        <% inquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div>
    <%= f.label :message %>
    <%= f.text_area :message, :rows => "10" %>
  </div>
  
  <div>
    <%= f.submit "Send", class: "btn btn-large btn-primary" %>
  </div>
<% end %>